<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>ZP8L46Q7JJ</string>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
    <key>compileBitcode</key>
    <false/>
    <key>signingStyle</key>
    <string>manual</string>
    <key>signingCertificate</key>
    <string>iPhone Distribution</string>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>provisioningProfiles</key>
    <dict>
        <key>cl.tocketicket.staffscanner</key>
        <string>Tocke Scanner Production</string>
        <key>cl.tocketicket.staffscanner.dev</key>
        <string>Tocke Scanner Development</string>
    </dict>
    <key>CLIENT_ID</key>
	<string>1054622389903-o3rr07gqdm9k395e3roc33buqs033v9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054622389903-o3rr07gqdm9k395e3roc33buqs033v9f</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.tocketicket.staffscanner</string>
</dict>
</plist>